* {
    margin: 0;
    padding: 0;
}

.canvas {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(58, 139, 233), rgb(227, 240, 255));
}

.pipe {
    width: 50px;
    position: absolute;
    bottom: 0;
    animation: pipeAnimation 1.5s linear infinite;
}

@keyframes pipeAnimation {
    from {
        left: 100%;
    }

    to {
        left: -60px;
    }
}

.mario {
    width: 80px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: marioAnimation 500ms linear;
}

@keyframes marioAnimation {

    40% {
        bottom: 120px;
    }

    60% {
        bottom: 120px;
    }

}

.clouds {
    width: 300px;
    position: absolute;
    animation: cloudsAnimation 15s linear infinite;
}

@keyframes cloudsAnimation {
    from {
        left: 100%;
    }

    to {
        left: -300px;
    }
}